/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
html {
  font-size: 20px;
}
body {
  font-family: 'Libre Franklin', sans-serif;
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  font-size: 1rem;
  font-weight: 400;
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-wrap: balance;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex: 1;
}

:root {
  --blue-500: hsl(223, 87%, 63%);
  --blue-200: hsl(223, 100%, 88%);
  --red-400: hsl(354, 100%, 66%);
  --gray-400: hsl(0, 0%, 59%);
  --blue-950: hsl(209, 33%, 12%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(100, 100%, 100%);
  --shadow-primary-sm: 0 10px 20px hsl(223 87% 63% / 0.15);
  --shadow-primary-lg: 0 4px 8px hsl(223 87% 63% / 0.25);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.coming-soon__section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 38.4rem;
  padding: 1.5rem;
}

.coming-soon__logo {
  max-width: 3.5rem;
  margin: 2rem auto;
}

.coming-soon__headline {
  color: var(--gray-400);
  font-size: clamp(1.25rem, 0.0575rem + 6.361vw, 2.5rem);
  font-weight: 300;
  text-align: center;
}

.coming-soon__headline .bold {
  color: var(--black);
  font-weight: 700;
}

.coming-soon__copy {
  font-size: clamp(0.5rem, 0.4135rem + 1.527vw, 1rem);
  font-weight: 300;
  margin-block-start: 0.5rem;
  text-align: center;
}

.coming-soon__form {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 2rem;
  width: 100%;
}

.coming-soon__form-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.coming-soon__form-input-wrapper.error .coming-soon__form-input {
  border-color: var(--red-400);
}

.coming-soon__form-label {
  width: 100%;
}

.coming-soon__form-input {
  border: 1px solid var(--blue-200);
  border-radius: 2rem;
  font-size: clamp(0.5rem, 0.4135rem + 1.527vw, 1rem);
  padding: 0.5rem 2rem;
  width: inherit;
}

.coming-soon__form-input-wrapper.error .coming-soon__form-error {
  display: block;
}

.coming-soon__form-error {
  color: var(--red-400);
  display: none;
  font-size: clamp(0.5rem, 0.309rem + 1.018vw, 0.7rem);
  margin-block-end: 0.75rem;
  padding: 0 2rem;
  text-align: center;
}

.coming-soon__btn-submit {
  align-self: flex-start;
  background-color: var(--blue-500);
  border-radius: 2rem;
  border: 1px solid var(--blue-500);
  box-shadow: var(--shadow-primary-sm), var(--shadow-primary-lg);
  color: var(--white);
  cursor: pointer;
  font-size: clamp(0.5rem, 0.4135rem + 1.527vw, 1rem);
  font-weight: 600;
  padding: 0.5rem 2rem;
  width: 100%;
}

.coming-soon__btn-submit:hover {
  opacity: 0.8;
}

.coming-soon__form-input::placeholder {
  color: var(--blue-200);
}

.coming-soon__image-placeholder {
  margin-block: 2rem;
  align-self: flex-end;
}

.coming-soon__footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2em 0 2em;
}

.coming-soon__list {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.coming-soon__list-item {
  border: 1px solid var(--gray-400);
  border-radius: 50%;
}

.coming-soon__list-item a {
  align-items: center;
  display: flex;
  padding: 0.50rem;
  text-decoration: none;
}

.fa-brands {
  color: var(--blue-500);
}

.coming-soon__copyright {
  color: var(--gray-400);
  font-size: 0.6rem;
}


@media only screen and (min-width: 38.4rem) {
  main {
    display: flex;
    align-items: center;
  }

  .coming-soon__form {
    flex-direction: row;
  }

  .coming-soon__form-error {
    text-align: left;
  }

  .coming-soon__btn-submit {
    flex-basis: 40%;
  }
}
