/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  font-size: 1em;
  font-weight: 400;
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-wrap: balance;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex: 1;
}

:root {
  --blue-500: hsl(223, 87%, 63%);
  --blue-200: hsl(223, 100%, 88%);
  --red-400: hsl(354, 100%, 66%);
  --gray-400: hsl(0, 0%, 59%);
  --blue-950: hsl(209, 33%, 12%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(100, 100%, 100%);
}

.coming-soon__section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.coming-soon__logo {
  max-width: 5rem;
  margin: 0 auto;
}

.coming-soon__headline {
  color: var(--gray-400);
  font-size: 1.25em;
  font-weight: 300;
  margin-block-start: 1rem;
  text-align: center;
}

.coming-soon__headline .bold {
  color: var(--black);
  font-weight: 600;
}

.coming-soon__copy {
  font-size: 0.8em;
  font-weight: 300;
}

.coming-soon__form {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 1rem;
  width: 100%;
}

.coming-soon__form-label {
  width: 100%;
}

.coming-soon__form-input {
  border: 1px solid var(--blue-200);
  border-radius: 2rem;
  font-size: 0.8em;
  padding: 0.5rem 2rem;
  width: inherit;
}

.coming-soon__btn-submit {
  background-color: var(--blue-500);
  border-radius: 2rem;
  border: 1px solid var(--blue-500);
  color: var(--white);
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.5rem 2rem;
}

.coming-soon__form-input::placeholder {
  color: var(--blue-200);
}

.coming-soon__image-placeholder {
  margin-block-start: 2em;
  align-self: flex-end;
}

.coming-soon__footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2em 0 2em;
}

.coming-soon__list {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.coming-soon__list-item {
  border: 1px solid var(--gray-400);
  border-radius: 50%;
}

.coming-soon__list-item a {
  align-items: center;
  display: flex;
  padding: 0.50rem;
  text-decoration: none;
}

.fa-brands {
  color: var(--blue-500);
}

.coming-soon__copyright {
  color: var(--gray-400);
  font-size: 0.6em;
}

